.add-more{ 
	background-image:url("../images/add_student.png")  ;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	float: left;
	height: 16px;
	margin-top: 6px;
	text-indent: -99999px;
	width: 16px;
}

.remove{
	background-image:url("../images/icon-remove.png"); 
	background-repeat:no-repeat;
	cursor: pointer;
	display: block;
	float: left;
	height: 16px;
	margin-top: 6px;
	text-indent: -99999px;
	width: 16px;
}
.input-name{ 
	display: inline-block;
    float: left;
    width: 90%;
}
.errors{border: 1px solid #f00 !important; }

.add-more-w{ 
	background-image:url("../images/add_student-w.png")  ;
	
}